.contact__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}
.contact__item:not(:last-child){
    margin-bottom: 10px;
}
.contact__item{
    transition: all 500ms ease-out;
}
.contact__item:hover{
    cursor: context-menu;
    transition: all 500ms ease-out;
    transform: scale(1.15);
}

.contact__btn{
margin-left: 8px;
padding: 5px 10px;
font-weight: bold;
border-radius: 5px;
border: none;
background-color: #fff;
cursor: pointer;
}

.contact__btn:hover{
    transform: scale(1.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}