.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.btn {
    padding: 5px 5px;
    width: 100px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
    border: 1px solid white;
    border-radius: 5px;
    transition: all 500ms ease-out;

}

.btn:hover{
    color: white;
    background-color:red;
    border: 1px solid white;
    transition: all 500ms ease-out;
    transform: scale(1.15);
}
